# Ignore Eclipse workspace metadata
**/.metadata/
**/.settings/
**/.classpath
**/.project

# Ignore build output
**/bin/
**/target/

# Ignore EMF & Sirius generated source
**/src-gen/

# Logs and temp files
**/*.log
**/*.tmp
